.wrapper {
    display: flex;
    position: relative;
    height: 50px;
    width: 100%;
    align-items: center;
}
.back-btn {
    font-size: 20px;
    width: 48px;
    line-height: 50px;
    cursor: pointer;
}

.header {
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}