.wrapper{
    padding: 9px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height:60px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.05);
    }

}
.avt{
    width: 46px;
    height:46px;
    border-radius: 50%;
    margin-right: 10px;

}
.info{

}
.name{
    font-size: 1.5rem;



}
.icon{
  color: #21D5EC;
  margin-left: 4px; 

}
.username{
    font-size: 1.3rem;
   

}