.wrapper {
    --radius: 92px;
    --search-height: 46px;
    --search-space-top: 9px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgba(0,0,0, 12%);
    display:flex;
    justify-content: center;
}
.search, .search-result {
    width: 361px;
}
.search {
    position: relative;
    height: var(--search-height);   
    display: flex;
    align-items: center;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--radius);
    padding-left: 16px; 
    border: 1.5px solid transparent;
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
        
    }
    input {
        height: 100%;
        width: 200px;
        outline :none;
        border: transparent;
        background-color: transparent;
        font-size: 1.6rem;
        color: var(--black);
        caret-color: var(--primary);
       
        }
        input:not(:placeholder-shown) ~ .search-btn {
            color:rgba(22, 24, 35, 0.5); ;
            
        }
    &::after {
        content : "";
        width: 1px;
        height: calc(var(--search-height) - var(--search-space-top) * 2);//viết dấu trừ cách ra mới được
        position: absolute;
        right: 52px;
        top: var(--search-space-top);
        background-color: var(--black)
    }
    .search-btn {
        width: 52px;
        height: 44px;
        color:rgba(22, 24, 35, 0.2);
        position: absolute;
        right: 0;
        font-size: 16px;
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);

        &:hover {
             background-color: rgba(22, 24, 35, 0.09);
             cursor: pointer;   
        }
        &:active {
            background-color: rgba(22, 24, 35, 0.1);
            
        }
        }

}
.clear, .loading {
    position: absolute;
    top: 50%;
    right: 72px;    
    transform: translateY(-50%) ;
    font-size: 16px;
    color:rgba(22, 24, 35, 0.3);
    }
.loading {
    animation: spinner 1s linear infinite;

}
@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform :translateY(-50%) rotate(360deg)
    }
}
.account {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}