.wrapper {
    --radius: 92px;
    --search-height: 46px;
    --search-space-top: 9px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgba(0,0,0, 12%);
    display:flex;
    justify-content: center;

}
.content {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;  
    justify-content: space-between;  
}
.logo {
    
    
    // padding: 0 24px;    
    }


//action
.action {

    display: flex;
    align-items: center;
}
.action-btn{
    font-size: 24px;
    padding: 4px 16px;
    cursor: pointer;
    background-color:transparent;
    display: flex;
    align-items: center;


}
.avatar {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin-left: 24px;
    
}
.more-btn {
    margin-left: 28px;
}
